nav{
    background-color: #fff159;
    display: grid;
    grid-template-areas: "nav-left-top nav-center-top nav-right-top"
    "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-row: 40px 20px;
    grid: column gap 24px;
    padding: 8px 10px 12px 10px;
    border: 2px solid red;
}

header{
    border: 6px solid slateblue;
    display: flex;
    justify-content: center;
    background-color: #fff159;
    position: relative;
    height: 100px;
    box-sizing: border-box;
    font-size: 13px;
    width: 100%;
}

body{
    border-collapse: collapse;
}

.nav.logo{
background-repeat: no-repeat;
overflow: hidden;
text-indent: -999px;
background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.4.1/mercadolibre/logo__large_plus.png);
height: 34px;
width: 134px;
display: flex;
position: static;
}

.nav-header-plus .nav-left-area.nav-top-area{
    grid-area: nav-left-top;
    grid-row-start: nav-left-top;
    grid-column-start: nav-left-top;
    grid-row-end: nav-left-top;
    grid-column-end: nav-left-top;
}

.nav-header-plus .nav-left-area{
    justify-content: flex-start;
}

.nav-header-plus .nav-top-area{
    height: 40px;
    align-items: centner;
}

.nav-header-plus .nav-area{
    flex-direction: row;
}

.exhibitor__picture{
    display: flex;
    width: fit-content;
    justify-content: flex-end;
}

.ofertas-img{
    max-width: 340px;
    max-height: 39px;
}

.nav-header-plus .nav-right-area.nav-top-area{
    grid-area: nav-right-top;
}

.nav-header-plus .nav-right-area{
justify-content: flex-end;
}

.nav-header-plus .nav-top-area{
    height: 40px;
    align-items: center;
}

.nav-header-plus .nav-left-area.nav-bottom-area{
    grid-area: nav-left-bottom;
    font-weight: 400;
}

.nav-header-plus .nav-left-area{
    justify-content: flex-start;
}

.nav-header-plus .nav-bottom-area{
    height: 28px;
    align-items: flex end;
}

.hub_section__hub_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #333333;
}

section{
    display: block;
}

.back-to-school{
    max-width: 1920px;
}

